# mod_rewrite start

RewriteEngine on

# does not apply to existing directories

RewriteCond %{REQUEST_FILENAME} !-d

# check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# show page with .html extension

RewriteRule ^(.*)$ $1.html [NC,L]